<h1>Life Tracker Home</h1>

<!-- <p><%= link_to "Schools", schools_path%></p>
<p><%= link_to "Life Events", life_events_path%></p>
<p><%= link_to "People", people_path%></p> -->

<p>Welcome to Life Tracker!!!  This site will allow you to enter Schools you have attended and also life events.  It will then give you a list of all your data under your name.</p>
